@using System.Globalization;
@model ChartsViewModel
@{
    var brazilianCulture = new CultureInfo("pt-BR");

    int itemsTotal = Model.TotalOfItems;
    int stockTakingAmount = Model.ItemsWithStockTakingAmount;

    int stockTakingRigth = Model.ItemsWithCorrectAmount;
    int addressingRigth = Model.ItemsWithAddressingRigth;
    decimal perishableItemsAmount = Model.ItemPerishableAmount;
    decimal perishableItemsExpirate = Model.ItemPerishableExpirateDate;
    decimal stockTakingCountAmount = Model.TotalQuantityItemsStockTaking;

    decimal complet = ((decimal)stockTakingAmount / itemsTotal) * 100;

    decimal gaugeValueStockTaking = ((decimal)stockTakingRigth / stockTakingAmount);
    decimal gaugeValueAddressing = ((decimal)addressingRigth / stockTakingAmount);
    decimal gaugeStockDivergence = (1 - gaugeValueStockTaking);
    decimal gaugeValueLostDate = 0;
    if (perishableItemsExpirate != 0)
    {
        gaugeValueLostDate = (perishableItemsExpirate / perishableItemsAmount);
    }
    decimal radarUserOfInventory = (1 - gaugeValueLostDate);

    double radarEffectivenessOfInventoryManagement = (((double)gaugeValueStockTaking * 0.35) + ((double)radarUserOfInventory * 0.45) + ((double)gaugeValueAddressing * 0.2));
}

<link rel="stylesheet" href="~/css/site.css" />
<div class="row mb-4 d-flex justify-content-between align-self-baseline">
    <!-- Parte 1: Título "Dashboard" -->
    <div class="col-1">
        <div class="pagetitle">
            <h1>Dashboard</h1>
        </div>
    </div>

    <!-- Parte 2: Barra de progresso -->
    <div class="col-7">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: @(complet)%;" aria-valuenow="@complet" aria-valuemin="0" aria-valuemax="100">
                @complet.ToString("N2", brazilianCulture)% Concluídos!
            </div>
        </div>
    </div>

    <!-- Parte 3: SelectList e botão -->
    <div class="col-2">
        <form method="get" class="input-group">
            <div class="col-8">
                @Html.DropDownList("warehouseId", ViewData["WarehouseId"] as SelectList, new { @class = "form-control" })
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-info">Filtrar</button>
            </div>
        </form>
    </div>
</div>



<section class="section dashboard">

    <div class="row">
        <div class="col-lg-4">

            <!-- Sales Card -->
            <div class="col-xxl-12 col-md-12 col-sm-12">
                <div class="card info-card revenue-card mb-4">

                    <div class="card-body p-0 ps-3">
                        <h5 class="card-title" data-bs-toggle="tooltip" data-bs-placement="top" title="SKUs Inventariados – Quantidade absoluta de SKUs contados (códigos exclusivos), independente de seus volumes">SKUs Inventariados</h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-tag"></i>
                            </div>
                            <div class="ps-1">
                                <h6>@stockTakingAmount.ToString("N0", brazilianCulture)</h6>
                                <span class="text-success small pt-1 fw-bold" data-bs-toggle="tooltip" data-bs-placement="top" title="Progresso do Inventário – Percentual de itens inventariados no estoque dos depósitos selecionados. É dado pela fórmula: [SKUs Inventariados / SKUs Listados] * 100">@complet.ToString("N2", brazilianCulture)%</span> <span class="text-muted small pt-2 ps-1">Concluídos!</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- End Sales Card -->
            <!-- Revenue Card -->
            <div class="col-xxl-12 col-md-12">
                <div class="card info-card revenue-card">

                    <div class="card-body p-0 ps-3">
                        <h5 class="card-title" data-bs-toggle="tooltip" data-bs-placement="top" title="Volume de Itens Inventariados – Considera o volume total de itens inventariados nos depósitos selecionados.">Volume de Itens Contados</h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-tags"></i>
                            </div>
                            <div class="ps-3">
                                <h6>@Model.TotalQuantityItemsStockTaking.ToString("N2", brazilianCulture)</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" data-bs-toggle="tooltip" data-bs-placement="top" title="Divergência de Estoque - Calculado em função do total de SKUs armazenados nos depósitos selecionados, este indicador apresenta o percentual de itens registrados que, certificados fisicamente, possuem quantidades informadas incorretamente.">Divergência de Estoque</h5>

                        <!-- Pie Chart -->
                        <div id="echart--gauge-gradeStockDivergence" style="min-height: 217px;" data-value="@gaugeStockDivergence"></div>


                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" data-bs-toggle="tooltip" data-bs-placement="top" title="Perdas de Estoque – Este indicador considera o volume de itens que continuam armazenados após seu vencimento. Seu cálculo é realizado considerando apenas itens perecíveis.">Perdas de Estoque</h5>

                        <!-- Pie Chart -->
                        <div id="echart--gauge-gradeExpirateDate" style="min-height: 217px;" data-value="@gaugeValueLostDate"></div>

                    </div>
                </div>
            </div>
        </div><!-- End Revenue Card -->

        <div class="col-8">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" data-bs-toggle="tooltip" data-bs-placement="top" title="Acuracidade de Estoque – Calculado em função do total de SKUs armazenados nos depósitos selecionados, este indicador apresenta o percentual de itens registrados que, certificados fisicamente, possuem quantidades corretamente informadas.">Acuracidade de Estoque</h5>

                            <!-- Pie Chart -->
                            <div id="echart--gauge-gradeStockTaking" style="min-height: 217px;" data-value="@gaugeValueStockTaking"></div>


                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" data-bs-toggle="tooltip" data-bs-placement="top" title="Assertividade das Locações – Este indicador avalia a organização dos itens que possuem endereçamento atribuído. O valor indica o percentual de SKUs com correspondência exata entre o informado no sistema e o verificado fisicamente.">Assertividade das Locações</h5>

                            <!-- Pie Chart -->
                            <div id="echart--gauge-gradeAddressing" style="min-height: 217px;" data-value="@gaugeValueAddressing"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" data-bs-toggle="tooltip" data-bs-placement="top" title="Eficácia da Gestão dos Estoques – Este indicador pondera três variáveis para medir o nível de eficácia da Gestão dos Estoques, evidenciando os fatores mais relevantes para a melhoria da operação como um todo. São eles: Acuracidade de estoque, com peso de 35% sobre o indicador; Assertividade das Locações, com peso de 20% sobre o indicador; e Aproveitamento de Estoque (antítese da Perda de Estoque), com peso de 45% sobre o indicador.">Eficácia da Gestão dos Estoques</h5>

                        <!-- Pie Chart -->
                        <div id="echart--effectiveness" style="min-height: 550px; margin-top:0;" data-value-1="@gaugeValueStockTaking" data-value-2="@radarUserOfInventory" data-value-3="@gaugeValueAddressing" data-value-4="@radarEffectivenessOfInventoryManagement"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://fastly.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
<script src="~/js/charts/echart--gauge-gradeStockTaking.js"></script>
<script src="~/js/charts/echart--gauge-gradeAddressing.js"></script>
<script src="~/js/charts/echart--gauge-gradeExpirateDate.js"></script>
<script src="~/js/charts/echart--gauge-gradeStockDivergence.js"></script>
<script src="~/js/charts/echart--radar-effectiveness.js"></script>
<script src="~/assets/vendor/echarts/echarts.min.js"></script>