@model Item

@{
    decimal quantity = 0;
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Quantidade
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.Addressings)
            {
                quantity = quantity + item.Quantity;
            }
            @quantity
            @Html.DisplayFor(model => model.UnitOfMeasurement)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Addressings)
        </dt>
        @foreach (var item in Model.Addressings)
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Addressing.Name)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
