@model PagingList<Item>

@{
    decimal quantity = 0;
    ViewData["Title"] = "Produtos";
}

<h1>@ViewData["Title"]</h1>

<form method="get" class="nput-group mb-3">

    <div class="input-group mb-3">
        <input name="filter" class="form-control" placeholder="filtro"
               value="@Model.RouteValue["Filter"]" />

        <button type="submit" class="btn btn-info">Procurar</button>
    </div>
</form>

<p>
    <form asp-controller="Items" asp-action="ImportItems" mothod="post" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <input type="file" name="documentFile" class="form-control" />
            <button type="submit" class="btn btn-group btn-success">Upload</button>
        </div>
    </form>
    <a asp-action="Create" class="btn btn-primary">Novo Item</a>
</p>
<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Realizar contagem
                    </th>
                    <th>
                        Código do Produto
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Quantidade
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitOfMeasurement)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a href="@Url.Action("ItemCount", "StockTaking", new { itemId = item.Id })" class="btn btn-primary">Realizar Contagem</a>
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        @foreach (var result in item.Addressings)
                        {
                            quantity = quantity + result.Quantity;
                        }
                        <td>
                            @quantity
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitOfMeasurement)
                        </td>
                        <td>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" onclick="actionDelete(@item.Id)" data-bs-target="#delete-modal">Deletar</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>

<!--Modal Delete-->
@*<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="create-modalLabel" aria-hidden="true">
    @await Html.PartialAsync("~/Views/Items/Delete.cshtml", new Item())
</div>*@

@section Scripts{

    <script type="text/javascript">

        function actionDelete(id) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Delete")',
                dataType: 'html',
                data: { id: id },
                cache: false,
                async: true,
                success: function (data) {
                    $('#delete-modal').html(data);
                }
            });
        }

    </script>
    }