@model PagingList<Location>

@{
    ViewData["Title"] = "Localizações";
}

<h1>@ViewData["Title"]</h1>

<form method="get" class="form-inline">

    <input name="filter" class="form-control" placeholder="filtro"
           value="@Model.RouteValue["Filter"]" />

    <button type="submit" class="btn btn-info">Procurar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>