@model PagingList<User>

@{
    ViewData["Title"] = "Depósito";
}

<h1>Selecione o @ViewData["Title"] para contagem</h1>

<form method="get" class="nput-group mb-3">

    <div class="input-group mb-3">
        <input name="filter" class="form-control" placeholder="filtro"
               value="@Model.RouteValue["Filter"]" />

        <button type="submit" class="btn btn-info">Procurar</button>
    </div>
</form>

<p>
    <a asp-action="Register" class="btn btn-primary">Novo Usuario</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>