@model PagingList<Warehouse>

@{
    ViewData["Title"] = "Depósito";
}

<h1>Selecione o @ViewData["Title"] para contagem</h1>

<form method="get" class="nput-group mb-3">

    <div class="input-group mb-3">
        <input name="filter" class="form-control" placeholder="filtro"
               value="@Model.RouteValue["Filter"]" />

        <button type="submit" class="btn btn-info">Procurar</button>
    </div>
</form>

<div class="d-grid gap-2 d-flex flex-wrap justify-content-center">
    @foreach (var item in Model)
    {
        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary col-4" role="button">@Html.DisplayFor(modelItem => item.Name)</a>
    }
</div>


<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>


@section Scripts{
        @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
