@model PagingList<Warehouse>

@{
    ViewData["Title"] = "Depósito";
}

<h1>Selecione o @ViewData["Title"] para contagem</h1>

<form method="get" class="nput-group mb-3">

    <div class="input-group mb-3">
        <input name="filter" class="form-control" placeholder="filtro"
               value="@Model.RouteValue["Filter"]" />

        <button type="submit" class="btn btn-info">Procurar</button>
    </div>
</form>

<ul class="d-flex flex-wrap">
    @foreach (var item in Model)
    {
        <div class="mt-4" style="width:33%">
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">@Html.DisplayFor(modelItem => item.Name)</a>
        </div>
    }
</ul>


<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>


@section Scripts{

    }
