@model PagingList<Addressing>

@{
    string itemId = ViewBag.ItemId; // Acesse o itemId pelo ViewBag
    bool stockTakingCheched = true;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Selecione o Endereçamento</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body-content">
            <form method="get" class="nput-group mb-3">
                <div class="input-group mb-3">
                    <input name="filter" class="form-control" placeholder="filtro"
                           value="@Model.RouteValue["Filter"]" />
                    <input name="itemId" value="@itemId" hidden />
                    <input name="stockTakingCheched" value="@stockTakingCheched" hidden />

                    <button type="submit" class="btn btn-info">Procurar</button>
                </div>
            </form>
            <div class="card">
                <div class="card-body">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Endereçamento</th>
                                <th scope="col">Depósito</th>
                                <th scope="col">Selecionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td scope="row">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Warehouse.Name)
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" onclick="selectAddressing('@item.Id', '@item.Name', '@item.Warehouse.Name')">
                                            Selecionar
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <vc:pager-with-named-view paging-list="@Model" view-name="Custom" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>

<script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>

<script type="text/javascript">

    function selectAddressing(addressingId, addressingName, warehouseName) {
        // Preencha o ID e o nome selecionados na view principal
        document.getElementById('addressing-id').value = addressingId;
        document.getElementById('addressing-name').textContent = addressingName;
        document.getElementById('warehouse-name').textContent = warehouseName;

        // Feche o modal
        $('#modal-form').modal('hide');
    }

</script>
