@model List<StockTakingReportAddressing>

@{
    AddressingsInventoryStart addressing = ViewBag.AddressingInfo;
    ViewData["Title"] = "Apuração de Contagem";
}

<h2>@ViewData["Title"] - @addressing.Addressing.Name</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Código do Produto
            </th>
            <th>
                Nome do Item
            </th>
            <th>
                Estoque Inicial
            </th>
            <th>
                Contagem
            </th>
            <th>
                Nº de Contagens
            </th>
            <th>
                Recontar?
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                      @Html.DisplayFor(modelItem => item.ItemId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemInitialQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemStockTakingQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfCount)
                </td>
                <td>
                    @if (item.ItemInitialQuantity != item.ItemStockTakingQuantity && item.NumberOfCount < 2)
                    {
                        <p class="text-danger">Sim</p>
                    }
                    else
                    {
                        <p class="text-success">Não</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>