@model List<StockTakingReportAddressing>

@{
    var addressing = ViewBag.AddressingInfo;
    bool recount = false;
    ViewData["Title"] = "Apuração de Contagem";
}

<h2>@ViewData["Title"] - @addressing.Addressing.Name</h2>
<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Código do Produto
                    </th>
                    <th>
                        Nome do Item
                    </th>
                    <th>
                        Estoque Inicial
                    </th>
                    <th>
                        Contagem
                    </th>
                    <th>
                        Nº de Contagens
                    </th>
                    <th>
                        Recontar?
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemInitialQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemStockTakingQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfCount)
                        </td>

                        @if (item.NumberOfCount == 0)
                        {
                            <td class="text-danger">-</td>
                            recount = true;
                        }
                        else if (item.ItemInitialQuantity != item.ItemStockTakingQuantity && item.ItemStockTakingQuantity != item.ItemStockTakingPreviousQuantity)
                        {
                            <td class="table-danger">

                                <form method="post" action="@Url.Action("AddRecount", "StockTaking", new { stockTakingId = item.StockTakingId })">
                                    @Html.AntiForgeryToken()

                                    <div class="d-grid gap-2 d-md-flex justify-content-center">
                                        <button type="submit" class="btn btn-danger">Sim</button>
                                    </div>
                                </form>
                            </td>
                            recount = true;
                        }
                        else
                        {
                            <td class="text-success">Não</td>
                        }

                    </tr>
                }
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addressingCountEnded">
            Encerrar Contagem
        </button>
    </div>
</div>


<!-- Basic Modal -->
<div class="modal fade" id="addressingCountEnded" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Fechamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @if (recount)
            {
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="addressingId" value="@addressing.Id" />
                    </div>
                    Não é possivel encerrar a contagem, pois existem itens pendentes de recontagem
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                </div>
            }
            else
            {
                <form class="row g-3" asp-action="CloseAddressingInventory" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" name="addressingId" value="@addressing.Id" />
                        </div>
                        Deseja realmente encerrar a contagem o endereçamento <strong>@addressing.Addressing.Name</strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <input type="submit" value="Encerrar Contagem" class="btn btn-primary" />
                    </div>
                </form>
            }
        </div>
    </div>
</div><!-- End Basic Modal-->
