@model PagingList<Addressing>

@{
    ViewData["Title"] = "Edereçamentos";
}

<h3>@ViewData["Title"]</h3>

<form method="get" class="nput-group mb-3">
    <div class="input-group mb-3">
        <input name="filter" class="form-control" placeholder="filtro"
               value="@Model.RouteValue["Filter"]" />

        <button type="submit" class="btn btn-info">Procurar</button>
    </div>
</form>

<form asp-controller="Addressings" asp-action="ImportAddressings" mothod="post" enctype="multipart/form-data">
    <div class="input-group mb-3">
        <input type="file" name="documentFile" class="form-control" />
        <button type="submit" class="btn btn-group btn-success">Upload</button>
    </div>
</form>

<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a title="Editar Registro" data-toggle="modal" class=" btn btn-success pull-right sem_footer" onclick="actionEdit(@item.Id)" href="#modal-form"><i class="fa fa-pencil" /> Editar</a>
                                <a href="@Url.Action("StockTakingReport", "StockTaking", new { addressingId = item.Id })" class="btn btn-primary">Fechamento</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>

<div id="divEdit">
    <div id="modal-form" class="modal fade" aria-hidden="true">
    </div>
</div>

@section Scripts{

    <script type="text/javascript">

        function actionEdit(id) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Edit")',
                dataType: 'html',
                data: { id: id },
                cache: false,
                async: true,
                success: function (data) {
                    $('#modal-form').empty();
                    $('#modal-form').append('<partial name = "Edit" />');
                    $('#modal-form').html(data);
                }
            });
        }

    </script>
    }
