@model InventoryStart

@{
    //List<AddressingsStockTaking> addressings = ViewBag.Addressings as List<AddressingsStockTaking>;

    //List<AddressingsStockTaking> stockTakingOpen = ViewBag.StockTakingOpen;
    //List<AddressingsStockTaking> stockTakingRealized = ViewBag.StockTakingRealized;
    //List<AddressingsStockTaking> stockTakingEnded = ViewBag.StockTakingEnded;
    string filter = ViewBag.Filter;
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InventoryStart</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventoryStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockTakingFinishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockTakingFinishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Addressings)
        </dt>
    </dl>
</div>

<div id="addressings">
    <div id="modal-form" aria-hidden="true">
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script type="text/javascript">

        $.ready(loadAddressings(@Model.Id, @filter))

        function loadAddressings(inventaryStartId, filter) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("AddressingCount")',
                dataType: 'html',
                data: { inventaryStartId: inventaryStartId,
                                  filter: filter },
                cache: false,
                async: true,
                success: function (data) {
                    $('#modal-form').empty();
                    $('#modal-form').append('<partial name="AddressingCount" />');
                    $('#modal-form').html(data);
                }
            });
        }

    </script>
}