@model PagingList<InventoryStart>

@{
    ViewData["Title"] = "Inventário";
}

<h1>@ViewData["Title"]</h1>

<form method="get" class="nput-group mb-3">

    <div class="input-group mb-3">
        <input name="filter" class="form-control" placeholder="filtro"
               value="@Model.RouteValue["Filter"]" />

        <button type="submit" class="btn btn-info">Procurar</button>
    </div>
</form>

<p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-modal">
        Novo Inventário
    </button>
</p>


<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IsCompleted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InventoryStartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StockTakingFinishDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsCompleted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InventoryStartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockTakingFinishDate)
                        </td>
                        <td>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">
                                    <i class="bi bi-info-circle"></i>
                                </a>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" onclick="actionCreate(@item.Id)" data-bs-target="#edit-modal">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" onclick="actionDelete(@item.Id)" data-bs-target="#delete-modal">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>

<!--Modal Create-->
<div class="modal fade" id="create-modal" tabindex="-1" aria-labelledby="create-modalLabel" aria-hidden="true">
    @await Html.PartialAsync("~/Views/InventoryStart/Create.cshtml", new InventoryStart())
</div>

@section Scripts{

    <script type="text/javascript">

        function actionCreate(id) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Create")',
                dataType: 'html',
                data: { id: id },
                cache: false,
                async: true,
                success: function (data) {
                    $('#create-modal').html(data);
                }
            });
        }

    </script>
    }