@model PagingList<StockTakingReport>
@{
    ViewData["Title"] = "Relatório Final";
}

<h3>@ViewData["Title"]</h3>

<form method="get" class="nput-group mb-3">

    <div class="input-group mb-3">
        <input name="filter" class="form-control" placeholder="filtro"
               value="@Model.RouteValue["Filter"]" />

        <button type="submit" class="btn btn-info">Procurar</button>
    </div>
</form>

<div class="card">
    <div class="card-body">

        <table class="table justify-content-center">
            <thead>
                <tr>
                    <th>
                        Código do Item
                    </th>
                    <th>
                        Nome do Item
                    </th>
                    <th>
                        Unidade de Medida
                    </th>
                    <th>
                        Estoque do Sistema
                    </th>
                    <th>
                        Quantidade da Contagem
                    </th>
                    <th>
                        Divergência de Estoque
                    </th>
                    <th>
                        Situação do Estoque
                    </th>
                    <th>
                        Situação do Endereçamento
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-@item.ItemId" aria-expanded="false" aria-controls="collapse-@item.ItemId">
                                @Html.DisplayFor(modelItem => item.ItemId)
                            </button>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitOfMeasurement)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SystemQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuantityStockTaking)
                        </td>

                        @if (item.Divergence < 0)
                        {
                            <td class="table-danger">
                                @Html.DisplayFor(modelItem => item.Divergence)
                            </td>
                        }
                        else if (item.Divergence > 0)
                        {
                            <td class="table-success">
                                @Html.DisplayFor(modelItem => item.Divergence)
                            </td>
                        }
                        else
                        {
                            <td>
                                Quantidade Confere
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.StockSituation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddressingSitutation)
                        </td>
                    </tr>
                    <tr id="collapse-@item.ItemId" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion-@item.ItemId">
                        <td colspan="5" class="accordion-body">
                            <table class="table">
                                <tbody>
                                    @foreach (var stockTaking in item.StockTakings)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>
                                                Endereçamentos
                                            </td>
                                            <td>
                                                <strong>@stockTaking.AddressingsInventoryStart.Addressing.Name</strong>
                                            </td>
                                            <td>
                                                <strong>@stockTaking.AddressingsInventoryStart.Addressing.Item.Any(i => i.ItemId == item.ItemId).Sum(q => q.Quantity)</strong>
                                            </td>
                                            <td></td>
                                            <td>
                                                <strong>@stockTaking.StockTakingQuantity</strong>
                                            </td>
                                        </tr>
                                    }
                                    @foreach (var addressing in item.Addressings)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>
                                                Endereçamentos
                                            </td>
                                            <td>
                                                <strong>@addressing.Addressing.Name</strong>
                                            </td>
                                            <td>
                                                <strong>@addressing.Quantity</strong>
                                            </td>
                                            <td></td>
                                            <td>
                                                <strong>oi</strong>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>